.fbprefs
.project
.settings
.classpath
target
bin
.DS_Store
tmpdir
.idea
*.iml
.clover
.cache
*.orig
gen
temp.xml
derby.log
dependency-reduced-pom.xml
*.versionBackup
*.versionsBackup
picasso
/.metadata/